* {
    padding: 0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
    font-family: Roboto;
    border-style: none;

    
}


header {
    background-color:#1f2937;
    color:#f9faf8;
    display:flex;
    justify-content: space-between;
    

}

.header-left {
    font-size: 24px;
    margin-left: 50px;
}

.header-link {
    display:flex;
    font-size:18px;
    color:#e5e7eb;
    margin-right:50px;
    
}

.header-link div {
    display:flex;
    margin: 0 5px;
}

.first-block {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937 ;
    color: #f9faf8;
    height:500px;
}

.first-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    
} 

.first-container-right {
    display:flex;
    color:black;
    width:700px;
    height:200px;
    background-color: aqua;
    justify-content: center;
    
}

.first-container-right p {
    display:flex;
    align-self:center;
    
    color:black;

}

.first-container-left {
    padding-right: 50px;
}

.first-container h1 {
    font-size: 48px;
    font-weight: 900;
}

.first-container-left p {
    font-size: 18px;
    color:#e5e7eb;
    padding-top: 8px;
    padding-bottom:8px;
}

.first-container button {
    background-color: #3882f6;
    border-radius: 10px;
    width:100px;
    color:#f9faf8;
    height: 30px;
    font-size: large;
}

.second-block {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    
}

.second-block-header {
    padding: 25px 0;
    font-size: 36px;
    font-weight: 1000;
    color:#1f2937;
}
.second-block-content {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}

.second-block-images {
    display:flex;
    flex-direction:row;
    justify-content: center;
    width: 100%;
    gap:20px;
}

.second-block-images li {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

li div {
    display:flex;
    border: 2px solid #3882f6;
    width:150px;
    height:150px;
    border-radius: 10px;
    align-self: center;
}

li p {
    width:150px;
    text-align: center;
}

.third-block {
    display:flex;
    flex-direction: column;
    height:500px;
    justify-content: center;
    background-color: #e5e7eb;
    align-items: center;

}

.third-block-content {
    display:flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    width:850px;
    justify-content: center;
    align-items: center;
}

.third-block-quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.third-block-source {
    display:flex;
    align-self:flex-end;
    padding-top:5px;
    font-weight: bold;
    font-size: 24px;
}